In [1]:
import pandas as pd

In [8]:

df = pd.DataFrame([[10,'theanh',30],
             [11,'tuan',23],
             [12,'bao',19],
             ],columns=['id','name','age'])
df

   id    name  age
0  10  theanh   30
1  11    tuan   23
2  12     bao   19

In [9]:
df.to_parquet('/data/new_employee.parquet',index=False)