In [4]:
import pandas as pd

In [2]:

df = pd.DataFrame([[10,'theanh',30],
             [11,'tuan',23],
             [12,'bao',19],
             ],columns=['id','name','age'])
df

NameError: name 'pd' is not defined

In [2]:
df.to_parquet('/data/new_employee.parquet',index=False)

NameError: name 'df' is not defined